Akshat Rastogi E20CSE003

In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/student-mat.csv',sep=';')

In [ ]:
data

    school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0       GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1       GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2       GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3       GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4       GP   F   16       U     GT3       T  ...     2       5        4   6  10  10
..     ...  ..  ...     ...     ...     ...  ...   ...     ...      ...  ..  ..  ..
390     MS   M   20       U     LE3       A  ...     5       4       11   9   9   9
391     MS   M   17       U     LE3       T  ...     4       2        3  14  16  16
392     MS   M   21       R     GT3       T  ...     3       3        3  10   8   7
393     MS   M   18       R     LE3       T  ...     4       5        0  11  12  10
394     MS   M   19       U     LE3       T  ...     3       5        5   8   9   9

[395 rows x 33 columns]

In [ ]:
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [ ]:
X = data.iloc[:,:-1]

In [ ]:
X

    school sex  age address famsize  ... Walc  health  absences  G1  G2
0       GP   F   18       U     GT3  ...    1       3         6   5   6
1       GP   F   17       U     GT3  ...    1       3         4   5   5
2       GP   F   15       U     LE3  ...    3       3        10   7   8
3       GP   F   15       U     GT3  ...    1       5         2  15  14
4       GP   F   16       U     GT3  ...    2       5         4   6  10
..     ...  ..  ...     ...     ...  ...  ...     ...       ...  ..  ..
390     MS   M   20       U     LE3  ...    5       4        11   9   9
391     MS   M   17       U     LE3  ...    4       2         3  14  16
392     MS   M   21       R     GT3  ...    3       3         3  10   8
393     MS   M   18       R     LE3  ...    4       5         0  11  12
394     MS   M   19       U     LE3  ...    3       5         5   8   9

[395 rows x 32 columns]

In [ ]:
Y = data.iloc[:,-1:]

In [ ]:
Y

     G3
0     6
1     6
2    10
3    15
4    10
..   ..
390   9
391  16
392   7
393  10
394   9

[395 rows x 1 columns]

In [ ]:
orig_cols = data.columns

In [ ]:
X = pd.get_dummies(X)

In [ ]:
Y = pd.get_dummies(Y)

In [ ]:
X

     age  Medu  Fedu  ...  internet_yes  romantic_no  romantic_yes
0     18     4     4  ...             0            1             0
1     17     1     1  ...             1            1             0
2     15     1     1  ...             1            1             0
3     15     4     2  ...             1            0             1
4     16     3     3  ...             0            1             0
..   ...   ...   ...  ...           ...          ...           ...
390   20     2     2  ...             0            1             0
391   17     3     1  ...             1            1             0
392   21     1     1  ...             0            1             0
393   18     3     2  ...             1            1             0
394   19     1     1  ...             1            1             0

[395 rows x 58 columns]

In [ ]:
Y

     G3
0     6
1     6
2    10
3    15
4    10
..   ..
390   9
391  16
392   7
393  10
394   9

[395 rows x 1 columns]

In [ ]:
X_cols = X.columns

In [ ]:
from sklearn.preprocessing import minmax_scale


for i in X_cols:
  X[i]=minmax_scale(X[i])

In [ ]:
X

          age  Medu  Fedu  ...  internet_yes  romantic_no  romantic_yes
0    0.428571  1.00  1.00  ...           0.0          1.0           0.0
1    0.285714  0.25  0.25  ...           1.0          1.0           0.0
2    0.000000  0.25  0.25  ...           1.0          1.0           0.0
3    0.000000  1.00  0.50  ...           1.0          0.0           1.0
4    0.142857  0.75  0.75  ...           0.0          1.0           0.0
..        ...   ...   ...  ...           ...          ...           ...
390  0.714286  0.50  0.50  ...           0.0          1.0           0.0
391  0.285714  0.75  0.25  ...           1.0          1.0           0.0
392  0.857143  0.25  0.25  ...           0.0          1.0           0.0
393  0.428571  0.75  0.50  ...           1.0          1.0           0.0
394  0.571429  0.25  0.25  ...           1.0          1.0           0.0

[395 rows x 58 columns]

In [ ]:
Y

     G3
0     6
1     6
2    10
3    15
4    10
..   ..
390   9
391  16
392   7
393  10
394   9

[395 rows x 1 columns]

In [ ]:
y = Y

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(X,y)

LinearRegression()

In [ ]:
y_pred = model.predict(X)

In [ ]:
mse = mean_squared_error(y,y_pred)

print(f"\nMSE: {mse}")

MSE: 3.534319373022152